@page
@using CompanyT.Models;
@model CompanyT.Pages.CompanyDetailsModel
@{
}
<script src="~/js/DetailsScripts.js" asp-append-version="true"></script>

<div class="details-wrapper" >
    <div class="details" id="info" >
        <div class="">id</div>
        <div class="" id="cid"></div>
        <div class="">name</div>
        <div class="" id="cname"></div>
        <div class="">adress</div>
        <div class="" id="cadress"></div>
        <div class="">City</div>
        <div class="" id="ccity"></div>
        <div class="">state</div>
        <div class="" id="cstate"></div>
    </div>

    <div class="details" id="history">
        <div class="">id</div>
        <div class="">id</div>
        <div class="">name</div>
        <div class="">name</div>
        <div class="">adress</div>
        <div class="">adress</div>
        <div class="">City</div>
        <div class="">City</div>
        <div class="">state</div>
        <div class="">state</div>
    </div>

    <div class="details" id="notes">
        <div class="">Invoice number</div>
        <div class="">Employee</div>
        
    </div>

    <div class="details" id="emploee">
        <div class="">id</div>
        <div class="">id</div>
        
    </div>
</div>
